/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBannerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem 0;
}
